.container {
    padding: 5em 0em;
}

.inline {
    display: inline;
}

.sticky {
    position: sticky;
    top: 0;
}

.ui.dividing.header,
.first {
    margin-top: 5em;
}

.ui.dividing.header:first-child {
    margin-top: 0em;
}

.my-rating.compact .icon {
    margin: 0;
    padding: 0;
}

.my-rating {
    .icon.star {
        color: gold;
    }
    .icon.heart {
        color: red;
    }
    .icon.empty.student {
        color: #ccc;
    }
    x.icon.circle {
        color: #888;
    }
}
