container {
    padding: 5em 0em;
}

.inline {
    display: inline;
}

.sticky {
    position: sticky;
    top: 0;
}

.ui.dividing.header,
.first {
    margin-top: 5em;
}

.ui.dividing.header:first-child {
    margin-top: 0em;
}

.my-rating.compact .icon {
    margin: 0;
    padding: 0;
}

.my-rating {
    .icon.star {
        color: gold;
    }
    .icon.heart {
        color: red;
    }
    .icon.empty.student {
        color: #ccc;
    }
    x.icon.circle {
        color: #888;
    }
}

body {
    position: relative
}

#github-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ccc;
    &:hover {
        color: blue;
    }
}

.person-name {
    position: relative;
    .first-name {
        color: #555;
        font-size: 1.5em;
        position: relative;
        padding-left: 2px;
        z-index: 1;
    }
    .last-name {
        color: #ccc;
        font-size: 1.25em;
        padding-right: 2px;
        position: relative;
        top: -0.25em;
    }
    .ui.label {
        position: absolute;
        z-index: 2;
        left: 2px;
        top: 5px;
    }
}
