.container {
    padding: 5em 0em;
}

.ui.dividing.header,
.first {
    margin-top: 5em;
}

.ui.dividing.header:first-child {
    margin-top: 0em;
}

.my-rating.compact .icon {
    margin: 0;
    padding: 0;
}

.icon.star {
    color: gold;
}

.icon.heart {
    color: red;
}

.inline {
    display: inline;
}
